1. Profile Creation & Authentication
a. ✔
b. ✔
c. ✔

2. Game Information
a. ✔
b. ✔?
c. ✔
d. ✔?~

3. Game Handling
a.
	i. ✔
	ii. ✔
b.
	i. ✔
	ii. ✔?
c.
	i. ✔
	ii. ✔

4. Gameplay
a.
	i. ✔
	ii. ✔
	iii. ✔
	iv. ✔
	v. ✔
	vi. ✔
	vii. ✔
b.
	i. ✔
	ii. ✔
c.
	i. ✔
d.
	i. ✔
	ii. ✔
e.
	i. ✔
f.
	i.✔

5. Adherence to NASPA rules
a. ✔
b. ✔
c. ✔
d.
	i. ✔
	ii. ✔
	iii. ✔
	iv. ✔
	v. ✔
	vi. ✔
	vii. ✔
	viii. ✔

main.py:

1. Tables are being created properly ✔
2. Table creation statements are not executed if table exists ✔
3. adminID successfully fetched from LogIn_Window if logs in, else program exits with code 0 ✔
4. mainGameV3.py is run with language if selected, or file name if selected, or program exits with code 0 ✔

LogIn_Window.py:

1. Username for creation matches length requirement & informs user of failure to meet requirement ✔
2. Username for creation matches alphabetical/alphanumerical requirement & informs of failure to meet requirement ✔
3. Password for creation matches length requirement & informs user of failure to meet requirement ✔
4. Show Password button works ✔
5. Admin profile creation works & user is informed of successful creation ✔
6. Admin profile creation handles attempted creation with duplicate usernames and informs of error ✔
7. Admin profile creation handles missing values for username/password ✔
8. User informed of incorrect details for admin profile login ✔
9. User logs in successfully if correct details provided ✔
10. adminID successfully retrieved after admin profile login ✔


HomeScreen_Window.py:

1. Player names retrievable from text entry boxes & updated into variable upon clicking "Enter" ✔
2. Language retrievable from dropdown menu & updated into variable upon clicking "Select" ✔
3. User informed of missing username ✔
4. In case "Select" isn't clicked for language, default language is used (English) & updated into variable ✔
5. User informed of username repetition ✔
6. Game window launches after "start new game" button is clicked ✔
7. Game filename retrievable from dropdown menu and updated into variable ✔
8. Default game filename value is retrieved if the user doesn't go through dropdown menu & selects a name ✔
9. Game window launches after "load game" button is clicked ✔
10. "View Rules" button works ✔
11. Ensure that EITHER filename is updated OR player names and language is updated ✔

ViewRules_Window.py:

1. Window opens after button click ✔
2. Only one instance of the window opens ✔
3. Window opens each of the selections ✔
4. Open button will open the default value in the dropdown menu, even if the menu hasn't been interacted with ✔
5. After closing, window can be re-opened ✔
6. After closing, only one instance of the window can be opened ✔
7. Clicking the "view rules" button will focus the view rules window if it is already open ✔
8. ?

mainGameV3.py (ScrabbleItemTemplatesV2.py):

1. Ensure game window loads properly without noticeable/significant latency
2. Start new game properly, by creating required items
3. Ensure premium squares are represented properly
4. Load game from game save file and have it ready to play
5. Get correct player IDs
6. Get correct gameID
7. Ensure player order is determined properly, for new games
8. Ensure players are swapped properly for a new game, if necessary
9. Player's rack will get filled at the beginning of a game, and each time a turn is completed
10. Create a record of a new game
11. Select a tile to move/exchange
12. Select a square on the board to move the tile to
13. Move a selected tile from the rack to the board
14. Exchange a selected tile
15. Allocate a letter to a blank tile that is being played on the board
16. Recall tiles to the player's rack if they wish, or if they make an invalid move.
17. Validate tile placement
18. Collect words played and validate their existence
19. Calculate and award scores of each play to the correct player
20. Add the move to the Game History() table
21. Apply penalties and final scoring after game completion
22. Close game window with administrator password only
23. Ensure tile bag is shuffled properly when starting a game
24. Check timer decrements properly
25. Ensure game completion when the conditions are met:
26. Calculate and award post-game scores and penalties properly
27. Save details of game properly to file for later access.
28. Ensure the above, in regards to playing Scrabble, for French and Spanish.